= form_for @lower_category do |f|
  - if @lower_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lower_category.errors.count, "error")} prohibited this lower_category from being saved:"
      %ul
        - @lower_category.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
