- breadcrumb :lower_categories, @lower_category
.l-default-container
  .l-container
    .c-items-box_container.l-clearfix
      %h1.c-items-box-head
        = @lower_category.name
        の商品一覧
        - if @items.current_page > 1
          (#{@items.current_page} ページ目)
      .c-items-box_content.l-clearfix
        = render partial: 'layouts/item', collection: @items
      = paginate @items, window: 2
      .c-spacial-description
        .u-taCenter.c-spacial-description_title.u-bgRd
          %h3.u-clWt
            = @lower_category.name
        .u-bgWt.c-spacial-description_text
          %p #{@lower_category.name}の着ない服、いらない洋服を売るならメルカリへ。#{@lower_category.name}の商品は100万点以上あります。人気のあるカテゴリーはデニム/ジーンズと名刺入れ/定期入れです。人気の商品は「和柄 デニム ジーンズ」や「革名刺入れ　パスケース　新品」があります。#{@lower_category.name}の買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。
