- breadcrumb :group, @group
.l-default-container
  .category-index.l-single_container
    %h2 ブランド一覧
    .category-list-nav.slide-nav-parent.u-taCenter.l-clearfix
      - @groups.each do |group|
        - if current_page?(group_path(group))
          = link_to group_path(group), class: "u-bgWt category-root-category-link-name is-active" do
            = group.name
        - else
          = link_to group_path(group), class: "u-bgWt category-root-category-link-name" do
            = group.name
    .l-visiblePc.brand-initial-link-box.l-clearfix
      - @initials.each do |initial|
        .brand-initial-link-box-initial.slide-nav-parent
          = link_to "#initial-#{initial}", data: {turbolinks: false}, class: "js-scroll"  do
            = initial
    .category-list-box
      .category-list-individual-box.u-bgWt.l-clearfix
        .u-bgRd.u-clWt.category-list-individual-box-root-category-name
          %h3#root_category-1
            = @group.name
        .brand-list-box.l-clearfix
          - @brands.each_with_index do |brand, index|
            - if @initial_index.include?(index)
              .brand-list-initial-box.white{id: "initial-#{brand.initial_word}"}
                .brand-list-initial-box-initial.u-bgDgy
                  %h4
                    = brand.initial_word
            .brand-list-initial-box-brand-list.l-clearfix
              = link_to brand_path(brand) do
                = brand.name
