.l-default-container
  %main.u-bgWt
    %section.owl-carousel.owl-loaded.owl-drag.p-top_carousel
      %div
        .p-top_mainVisual
          %div
            .p-top_mainVisual_content
              %h2
                スマホでかんたん
                %br>/
                フリマアプリ
              %p
                メルカリはスマホカメラからすぐに出品できる
                %br>/
                購入時も安心な独自システムのアプリです
              .p-top_mainVisual_store.l-clearfix
                = link_to '', target: '_blank' do
                  = image_tag 'common/app-store.svg'
                = link_to '', target: '_blank' do
                  = image_tag 'common/google-play.svg'
            = image_tag 'common/jp/top/main_content_pc.png'
        .p-top_sp.l-visibleSp
          .p-top_sp-banner
            %h2
              スマホで
              %br>/
              かんたん
              %br>/
              フリマアプリ
            = image_tag 'common/jp/top/main_content_pc.png'
          .p-top_sp-dl.l-clearfix
            = link_to 'dummy' do
              = image_tag 'common/app-store.svg'
            = link_to 'dummy' do
              = image_tag 'common/google-play.svg'
      = link_to '', 'dummy', class: 'p-top_banner p-top_banner-new-register'
      = link_to '', 'dummy', class: 'is-disable', class: 'p-top_banner p-top_banner-kusanagi-xmas'
      = link_to '', 'dummy', class: 'p-top_banner p-top_banner-welcome'
    %section.p-top_pickup
      %h2.p-top_pickup-head ピックアップカテゴリー
      %section.c-items-box_container.l-clearfix
        %h3.u-taCenter
          = link_to '/category/1/' do
            レディース 新着アイテム
        .c-items-box_content.l-clearfix
          - 4.times do
            = render 'layouts/itembox'
        .c-items-box_view-all
          = link_to 'すべての商品を見る'
      %section.c-items-box_container.l-clearfix
        %h3.u-taCenter
          = link_to '/category/2/' do
            メンズ 新着アイテム
        .c-items-box_content.l-clearfix
          - 4.times do
            = render 'layouts/itembox'
        .c-items-box_view-all
          = link_to 'すべての商品を見る'
      %section.c-items-box_container.l-clearfix
        %h3.u-taCenter
          = link_to '/category/3/' do
            ベビー・キッズ 新着アイテム
        .c-items-box_content.l-clearfix
          - 4.times do
            = render 'layouts/itembox'
        .c-items-box_view-all
          = link_to 'すべての商品を見る'
      %section.c-items-box_container.l-clearfix
        %h3.u-taCenter
          = link_to '/category/6/' do
            コスメ・香水・美容 新着アイテム
        .c-items-box_content.l-clearfix
          - 4.times do
            = render 'layouts/itembox'
        .c-items-box_view-all
          = link_to 'すべての商品を見る'
    %section.p-top_pickup
      %h2.p-top_pickup-head ピックアップブランド
      %section.c-items-box_container.l-clearfix
        %h3.u-taCenter
          = link_to '/brand/658/' do
            シャネル 新着アイテム
        .c-items-box_content.l-clearfix
          - 4.times do
            = render 'layouts/itembox'
        .c-items-box_view-all
          = link_to 'すべての商品を見る', '/brand/658/'
      %section.c-items-box_container.l-clearfix
        %h3.u-taCenter
          = link_to '/brand/1326/' do
            ルイ ヴィトン 新着アイテム
        .c-items-box_content.l-clearfix
          - 4.times do
            = render 'layouts/itembox'
        .c-items-box_view-all
          = link_to 'すべての商品を見る', '/brand/1326/'
      %section.c-items-box_container.l-clearfix
        %h3.u-taCenter
          = link_to '/brand/1620/' do
            シュプリーム 新着アイテム
        .c-items-box_content.l-clearfix
          - 4.times do
            = render 'layouts/itembox'
        .c-items-box_view-all
          = link_to 'すべての商品を見る', '/brand/1620/'
      %section.c-items-box_container.l-clearfix
        %h3.u-taCenter
          = link_to '/brand/857/' do
            ナイキ 新着アイテム
        .c-items-box_content.l-clearfix
          - 4.times do
            = render 'layouts/itembox'
        .c-items-box_view-all
          = link_to 'すべての商品を見る', '/brand/857/'
