.l-single_wrapper
  %main.l-single_main
    .p-login_panel
      .p-login_no-account
        %p アカウントをお持ちでない方はこちら
        = link_to '新規会員登録', new_user_registration_path
      .p-login_form-inner
        = button_tag 'Facebookでログイン', id: 'facebook-login', class: 'c-btn-default is-sns is-sns-facebook'
        = button_tag 'Googleでログイン', id: 'google-login', class: 'c-btn-default is-sns is-sns-google'

      = form_for 'resource', url: 'registration_path' do |f|
        .p-login_form-inner.is-borderNone
          .c-form_group
            = f.email_field :email, placeholder: 'メールアドレス', class: 'p-login_input-text c-input-default'
          .c-form_group
            = f.password_field :password, placeholder: 'パスワード', class: 'p-login_input-text c-input-default'
          .c-form_group
            = f.submit 'ログイン', class: 'p-login_submit c-btn-default is-red'
          = link_to 'パスワードをお忘れの方', '/password/reset/start/'
