.l-single_container
  %main.l-single_main
    %section.l-single_container
      %h2.c-profile-head 支払い方法
      = form_for 'dummy', html: {class: 'l-single_inner transact-select-card'} do |f|
        %section
          .l-single_content
            %h3.l-chapter-sub-head クレジットカード一覧
          %ul
            %li
              = f.label :payment_card_no, class: 'l-single_content' do
                %figure
                  = image_tag 'card/master-card.svg', width: '34', height: '20'
                .p-mypage_payment-num ************9889
                .p-mypage_payment-num 09 / 22
                = f.radio_button 'consume_point_radio', '2', checked: 'checked'
        %section.transact-select-card-footer
          .l-single_content
            = f.submit '次に進む', class: 'c-btn-default is-red'
