%li
  - if information.related_item.under_sale? || information.related_item.transaction_completed?
    = link_to item_path(information.related_item.id), class: 'p-mypage_item-link' do
      %figure
        = image_tag information.related_item.pictures[0].content
      .p-mypage_item-body
        .p-mypage_item-text
          = information_messages(information)
        %time
          %i.c-icon-time
          %span
            = "#{time_ago_in_words(information.created_at)}"
      %i.c-icon-arrow-right
  - else
    = link_to item_transaction_messages_path(information.related_item.id), class: 'p-mypage_item-link' do
      %figure
        = image_tag information.related_item.pictures[0].content
      .p-mypage_item-body
        .p-mypage_item-text
          = information_messages(information)
        %time
          %i.c-icon-time
          %span
            = "#{time_ago_in_words(information.created_at)}"
      %i.c-icon-arrow-right
