.l-default-container
  %section.p-user_details.l-single_container
    .p-user_detail-profile-box{style: 'background-image: url(/assets/common/user_bg.jpg)'}
      .p-user_detail-photo_box.u-taCenter
        = link_to mypage_path(@mypage) do
          .p-user_detail-photo{style: 'background-image: url(/assets/common/member_photo_noimage_thumb.png)'}
          %h2.p-user_detail-title.c-font-6
            - if current_user.nickname.present?
              #{current_user.nickname}
            -else
              #{current_user.provider}_#{current_user.uid}
        .p-user_detail-score.c-font-3
          %span 評価 #{current_user.received_reviews.length}
          %span 出品数 #{current_user.sell_items.length}
    .u-bgWhite
      .p-user_detail-ratings-box.c-font-6
        %div
          .p-user_detail-ratings.l-clearfix
            %i.c-icon-good
            .u-taCenter.p-user_detail-ragtings-score
              #{current_user.good_count}
        %div
          .p-user_detail-ratings.l-clearfix
            %i.c-icon-normal
            .u-taCenter.p-user_detail-ragtings-score
              #{current_user.normal_count}
        %div
          .p-user_detail-ratings.l-clearfix
            %i.c-icon-bad
            .u-taCenter.p-user_detail-ragtings-score
              #{current_user.bad_count}
      .p-user_detail-description_box
        %p.c-font-2
          - if current_user.mypage.profile.present?
            #{current_user.mypage.profile}
          -else
            = link_to "プロファイルの設定を行ってください", edit_mypage_path(@mypage)
    .c-item_social-media-box
      %ul.c-social-media-box
        %li
          %a.c-share-btn{"data-window-name" => "facebook_window", :href => "", :target => "_blank"}
            %i.c-icon-facebook
        %li
          %a.c-share-btn{"data-window-name" => "twitter_window", :href => "", :target => "_blank"}
            %i.c-icon-twitter
        %li
          = link_to '', target: '_blank' do
            %i.c-icon-line
    %section.p-item-box_container.l-clearfix.c-items-box_overflow
      %h2.c-items-box_head
        この出品者の商品
      .c-items-box_content.l-clearfix
        - @items.each do |item|
          = render 'layouts/itembox', item: item
