.l-content
  %section.p-mypage_user-icon
    = link_to mypages_path do
      %figure
        = image_tag 'common/member_photo_noimage_thumb.png', width: '60', height: '60'
      %h2.u-fwBold
        =current_user.nickname
      .p-mypage_number
        %div
          評価
          %span.u-fwBold
            = current_user.received_reviews.length
        %div
          出品数
          %span.u-fwBold
            = current_user.sell_items.length
  %section.p-mypage_tab-container-notification-todo
    %ul.p-mypage_tabs.js-tab_menu
      %li.is-active
        %h3
          お知らせ
      %li
        %h3
          やることリスト
    .p-mypage_tab-content
      - if @information.present?
        %ul#p-mypage_tab-notification.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content.is-active
          = render :partial => "mypages/information", :collection => @information, :as => "information"
          %li.p-mypage_go-list
            = link_to '一覧を見る', index_information_path
      - else
        %ul#p-mypage_tab-nortification.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content
          %li.p-mypage_item-not-found.u-fwBold 現在、お知らせはありません
      - if @todos.present?
        %ul#p-mypage_tab-todo.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content.is-active
          = render :partial => "mypages/todo", :collection => @todos, :as => "todo"
          %li.p-mypage_go-list
            = link_to '一覧を見る', index_todos_path
      - else
        %ul#p-mypage_tab-todo.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content
          %li.p-mypage_item-not-found.u-fwBold 現在、やることリストはありません
  %section.p-mypage_tab-container
    %h2.p-mypage_tab-head 購入した商品
    %ul.p-mypage_tabs.js-tab_menu
      %li.is-active
        %h3
          取引中
      %li
        %h3
          過去の取引
    .p-mypage_tab-content
      - if @under_transaction_items.present?
        %ul#p-mypage_tab-transaction-now.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content.is-active
          = render :partial => "mypages/under_transaction_items", :collection => @under_transaction_items, :as => "under_transaction_item"
          %li.p-mypage_go-list
            = link_to '一覧を見る', index_under_transaction_items_path
      - else
        %ul#p-mypage_tab-transaction-now.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content.is-active
          %li.p-mypage_item-not-found.u-fwBold 現在、取引中の商品はありません
      - if @sold_out_items.present?
        %ul#p-mypage_tab-transaction-old.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content
          = render :partial => "mypages/sold_out_items", :collection => @sold_out_items, :as => "sold_out_item"
          %li.p-mypage_go-list
            = link_to '一覧を見る', index_sold_out_items_path
      - else
        %ul#p-mypage_tab-transaction-old.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content
          %li.p-mypage_item-not-found.u-fwBold 現在、取引完了の商品はありません
