.l-container
  = @items.first.delivery_region
  の商品一覧
  .c-items-box_container.l-clearfix
    %ul.c-parts-nav.l-clearfix
      - @items.each do |item|
        %section.c-items-box
          = link_to item_path(item) do
            %figure.c-items-box_photo{style: "background-image: url(#{item.pictures.first.content})"}
            .c-items-box_body
              %h3.c-items-box_name.c-font-2
                = item.name
              .c-items-box_num.l-clearfix
                .c-items-box_price.c-font-5
                  ¥
                  = item.buy_price
                .c-items-box_likes.c-font-2
                  %i.c-icon-like-border
                  %span
                    = item.like_count
                %p.c-item-box_tax (税込)
