= form_with model: item, html: {class: 'p-sell_form'} do |f|
<<<<<<< HEAD
  = f.label :size_id do
    サイズ
    %span
  %div
    .c-select-wrap
      = f.select :size_id, options_from_collection_for_select(@sizes, :id, :name), {prompt: "---"}
      %i.c-icon-arrow-bottom
=======
  .c-form_group#product_size
    = f.label :size_id do
      サイズ
      %span
    %div
      .c-select-wrap
        = f.select :size_id, options_from_collection_for_select(@sizes, :id, :name), {prompt: "---"}
        %i.c-icon-arrow-bottom
>>>>>>> parent of eed0d2f... Revert "Merge branch 'develop-mypage_creation' of https://github.com/ato-s/freemarket_sample_36a into develop-mypage_creation"
