.l-content
  %section.l-chapter-container.p-mypage_identification
    %h2.l-chapter-head 本人情報の登録
    %p.u-taCenter お客さまのあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております。
    = form_for '/', html: { class: 'l-single_inner'} do |f|
      .c-form_group.u-mt00
        = f.label :param_name, 'お名前'
        %span.c-form_require 必須
        = f.text_field :param_name, placeholder: '例）山田', value: '斎寺', class: 'c-input-default'
        = f.text_field :param_name, placeholder: '例）彩', value: '亜斗', class: 'c-input-default'
      .c-form_group
        = f.label :param_name, 'お名前カナ'
        %span.c-form_require 必須
        = f.text_field :param_name, placeholder: '例）ヤマダ', value: 'サイデラ', class: 'c-input-default'
        = f.text_field :param_name, placeholder: '例）アヤ', value: 'アト', class: 'c-input-default'
      .c-form_group
        = f.label :param_name, '郵便番号', for: 'zip_code'
        %span.c-form_arbitrary 任意
        = f.text_field :param_name, placeholder: '例）1234567', class: 'c-input-default'
      .c-form_group
        = f.label :param_name, '都道府県', for: 'prefecture'
        %span.c-form_require 必須
        .c-select-wrap
          = f.select :param_name, options_for_select([['北海道', '1'], ['青森県', '2'], ['岩手県', '3'], ['宮城県', '4'], ['秋田県', '5'], ['山形県', '6'], ['福島県', '7'], ['茨城県', '8'], ['栃木県', '9'], ['群馬県', '10'], ['埼玉県', '11'], ['千葉県', '12'], ['東京都', '13'], ['神奈川県', '14'], ['新潟県', '15'], ['富山県', '16'], ['石川県', '17'], ['福井県', '18'], ['山梨県', '19'], ['長野県', '20'], ['岐阜県', '21'], ['静岡県', '22'], ['愛知県', '23'], ['三重県', '24'], ['滋賀県', '25'], ['京都府', '26'], ['大阪府', '27'], ['兵庫県', '28', selected: 'selected'], ['奈良県', '29'], ['和歌山県', '30'], ['鳥取県', '31'], ['島根県', '32'], ['岡山県', '33'], ['広島県', '34'], ['山口県', '35'], ['徳島県', '36'], ['香川県', '37'], ['愛媛県', '38'], ['高知県', '39'], ['福岡県', '40'], ['佐賀県', '41'], ['長崎県', '42'], ['熊本県', '43'], ['大分県', '44'],['宮崎県', '45'],['鹿児島県', '46'], ['沖縄県', '47'], ['未定', '99']], params[:param_name]), {}, { class: 'c-select-default' }
          %i.c-icon-arrow-bottom
      .c-form_group
        = f.label :param_name, '市区町村', for: 'city'
        %span.c-form_require 必須
        = f.text_field :param_name, value: '神戸市中央区若菜通', placeholder: '例）横浜市緑区', class: 'c-input-default'
      .c-form_group
        = f.label :param_name, '番地', for: 'address1_label'
        %span.c-form_require 必須
        = f.text_field :param_name, value: '４ー２', placeholder: '例）青山1−1−1', class: 'c-input-default'
      .c-form_group
        = f.label :param_name, '建物名', for: 'address2_label'
        %span.c-form_arbitrary 任意
        = f.text_field :param_name, value: 'セントラルハイツ三宮東', placeholder: '例）柳ビル103', class: 'c-input-default'
      .c-form_group
        = f.label :param_name, '生年月日', for: 'birthday'
        %span.c-form_require 必須
        %br
        .c-select-wrap-birthday
          .c-select-wrap
            = f.select :param_name, options_for_select([['1900', '1900'], ['1901', '1901'], ['1902', '1902'], ['1903', '1903'], ['1904', '1904', selected: 'selected']], params[:param_name]), {}, { class: 'c-select-default' }
            %i.c-icon-arrow-bottom
          %span 年
        .c-select-wrap-birthday
          .c-select-wrap.c-select-wrap__month
            = f.select :param_name, options_for_select([['', '--'], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4', selected: 'selected']], params[:param_name]), {}, { class: 'c-select-default' }
            %i.c-icon-arrow-bottom
          %span 月
        .c-select-wrap-birthday
          .c-select-wrap.c-select-wrap__day
            = f.select :param_name, options_for_select([['', '--'], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4', selected: 'selected']], params[:param_name]), {}, { class: 'c-select-default' }
            %i.c-icon-arrow-bottom
          %span 日
        %p.form-info-text
          ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
        .l-clearfix
      = f.submit '登録する', class: 'c-btn-default is-red'
      .c-form_group.u-taRight
        %p
          = link_to '/help_center/article/423/', target: '_blank' do
            本人情報の登録について
            %i.c-icon-arrow-right
