= form_with model: [item, review], local: true, class: 'transact-form-review' do |f|
  - if item.buyer_id == current_user.id
    .checkbox-default
      %input#transaction_delivered{:name => "transaction_delivered", :type => "checkbox", :value => "1"}/
      %i.icon-check
      %label{:for => "transaction_delivered"} 商品の中身を確認しました。
  %ul.transact-review-list.clearfix
    %li
      = f.radio_button :evaluation, 'good', id: 'face1'
      .transact-review-icon
        %i.icon-good
        %label{:for => "face1"}
          良い
    %li
      = f.radio_button :evaluation, 'normal', id: 'face2'
      .transact-review-icon
        %i.icon-normal
        %label{:for => "face2"}
          普通
    %li
      = f.radio_button :evaluation, 'bad', id: 'face3'
      .transact-review-icon
        %i.icon-bad
        %label{:for => "face3"}
          悪い
  %p 評価のコメントを記入しましょう。
  = f.text_field :text, class: 'c-textarea-default'
  = f.submit '評価を投稿する', class: 'c-btn-default is-red u-fzBold'
