= form_with model: [item, review], local: true do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message
  .c-radio-default
    %label
      = f.radio_button :evaluation, 'good'
      %br
  .c-radio-default
    %label
      = f.radio_button :evaluation, 'normal'
      %br
  .c-radio-default
    %label
      = f.radio_button :evaluation, 'bad'
      %br
  = f.text_field :text

  .actions
    = f.submit 'Save', class: 'c-btn-default is-red u-fzBold'
