.l-single_wrapper
  %section.l-single-container
    %h2.l-single-head 商品の報告
    .l-single-inner
      .l-single-content
        %h3.target-item-label 対象商品
        .target-item-box
          = image_tag @item.pictures[0].content
          %h4
            = @item.name
          %h7
            = @item.description.truncate(60)
        = form_for [@item ,@report] , method: :post do |f|
          .form-group
            %label{for:'report_type'} 違反の種類
            %span.form-require 必須
            .select-wrap
              = f.select :report_type,Report.report_types_i18n.keys.map {|k| [Report.report_types_i18n[k], k]},{prompt: "選択して下さい"},{class: "select-default"}
          .flash_content
            = flash[:notice]
          %p.form-info-text 不適切な商品の報告に基づいて随時、事務局でチェックさせていただき対応してまいります。特に返答はいたしませんが、ご了承ください。
          = f.submit '送信する',class:"btn-default btn-red"
