= form_for @transaction_message do |f|
  - if @transaction_message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction_message.errors.count, "error")} prohibited this transaction_message from being saved:"
      %ul
        - @transaction_message.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
