%aside.l-app-banner
  .l-app-banner-pc
    .l-app-banner-pc-inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .l-app-banner-icon.l-clearfix
        %figure
          = image_tag 'common/mercari_icon.png', width: '68'
        %ul.l-clearfix
          %li
            = link_to '', target: '_blank' do
              = image_tag 'common/app-store.svg', width: '133', height: '40'
          %li
            = link_to '', target: '_blank' do
              = image_tag 'common/google-play.svg', width: '133', height: '40'
    %figure
      = image_tag 'common/jp/download_content_pc.png'
%footer.l-footer
  %nav
    %ul
      %li.l-footer_downloadApp
        = link_to '', class: 'is-disable' do
          = image_tag 'common/mercari_icon.png', width: '35'
          今すぐ無料ダウンロード！
      %li.l-footer_col
        %h2.l-footer_title メルカリについて
        %ul
          %li
            = link_to '会社概要（運営会社）', class: 'is-disable'
          %li
            = link_to 'プライバシーポリシー', '/privacy/'
          %li
            = link_to 'メルカリ利用規約', '/tos/'
          %li
            = link_to 'メルカリ利用規約・有償ポイントに関する特約', '/tos_paid_point/'
          %li
            = link_to 'あんしんスマホサポート制度に関する利用特約', '/tos_smartphone_support/'
          %li
            = link_to 'コンプライアンスポリシー', '/compliance/'
          %li
            = link_to '個人データの安全管理に係る基本方針', '/data_security/'
          %li
            = link_to '特定商取引に関する表記', '/tokutei/'
          %li
            = link_to '資金決済法に基づく表示', '/shikin_kessai/'
          %li
            = link_to '法令順守と犯罪抑止のために', class: 'is-disable'
          %li
            = link_to '採用情報', '/jobs/'
      %li.l-footer_col
        %h2.l-footer_title メルカリを見る
        %ul
          %li
            = link_to 'カテゴリー一覧', '/category/'
          %li
            = link_to 'ブランド一覧', '/brand/'
          %li
            = link_to '出品地域一覧', '/area/'
          %li
            = link_to '公式ブログ', target: '_blank', class: 'is-disable'
          %li
            = link_to '公式Twitter', target: '_blank', class: 'is-disable'
          %li
            = link_to '公式Facebook', target: '_blank', class: 'is-disable'
      %li.l-footer_col
        %h2.l-footer_title ヘルプ＆ガイド
        %ul
          %li
            = link_to 'メルカリガイド', '/help_center/'
          %li
            = link_to 'メルカリロゴ利用ガイドライン', '/logo-guidelines/'
          %li
            = link_to 'お知らせ', class: 'is-disable'
          %li
            = link_to 'らくらくメルカリ便とは', '/rakuraku-mercari/'
          %li
            = link_to 'ゆうゆうメルカリ便とは', '/yuyu-mercari/'
          %li
            = link_to '大型らくらくメルカリ便とは', '/rakuraku-ogata/'
          %li
            = link_to '車体取引ガイド', '/guide/car/'
          %li
            = link_to '返品・返金ポリシー', '/refund-returns/'
          %li
            = link_to 'メルカリあんしん・あんぜん宣言！', '/safe/description/', target: '_blank'
          %li
            = link_to '偽ブランド品撲滅への取り組み', '/authenticity/'
          %li
            = link_to 'メルカリボックス', '/box/'
      %li.l-footer_col
        %h2.l-footer_title 国
        %ul.l-footer_navLang
          %li
            = link_to '', class: 'is-disable' do
              = image_tag 'common/flag_us.png', width: '22'
              United States
          %li
            = link_to '', class: 'is-disable' do
              = image_tag 'common/flag_uk.png', width: '22'
              United Kingdom
          %li
            = link_to '/', class: 'is-active' do
              = image_tag 'common/flag_jp.png', width: '22'
              日本
  = link_to '/', class: 'l-footer_logo' do
    = image_tag 'common/logo-white.svg', alt: 'mercari', width: '124', height: '33'
  %p.l-footer_copyright
    %small &#169; 2018 Mercari
= link_to new_item_path, class: 'l-footer_sellBtn', data: {turbolinks: false} do
  %div 出品
  %i.c-icon-camera
