%header.l-headerSp.l-visibleSp.is-has-search_nav
  .l-headerSp_inner.l-clearfix
    %h1.logo
      = link_to root_path do
        = image_tag 'common/logo.svg', alt: 'mercari'
    .l-headerSp_user-nav.l-clearfix
      = link_to mypages_path, class: 'l-headerSp_user-icon' do
        %figure
          %div
            = image_tag 'common/member_photo_noimage_thumb.png', width: '32'
  .l-search_bar
    = form_tag '/search/', class: 'l-headerSp_form' do
      = search_field_tag :keyword, params[:keywords], placeholder: '何をお探しですか？', class: 'l-headerSp_search c-input-default'
      %i.c-icon-search
  %nav.l-headerSp_nav.l-search-links
    = link_to 'カテゴリから探す', upper_categories_path
    = link_to 'ブランドから探す', brands_path
%header.l-headerPc.l-visiblePc
  .l-headerPc_inner
    .l-clearfix
      %h1.l-flLeft
        = link_to root_path do
          = image_tag 'common/logo.svg', alt: 'mercari', width: '134', height: '36'
      = form_tag '/search/', class: 'l-headerPc_form l-flRight' do
        = search_field_tag :keyword, params[:keywords], placeholder: 'キーワードから探す', class: 'c-input-default'
        %i.c-icon-search
    .l-headerPc_nav-box.l-clearfix
      %nav.l-flLeft
        %ul.l-headerPc_nav
          %li
            %h2
              = link_to 'カテゴリーから探す', upper_categories_path, class: 'l-headerPc_nav-root'
            %ul.l-headerPc_nav-parent-wrap
              - @upper_categories.each do |upper_category|
                %li.l-headerPc_nav-parent
                  %h3
                    = link_to "#{upper_category.name}", upper_category_path(upper_category)
                  %ul.l-headerPc_nav-child-wrap
                    - upper_category.middle_categories.first(14).each do |middle_category|
                      %li.l-headerPc_nav-child
                        = link_to "#{middle_category.name}", middle_category_path(middle_category)
                        %ul.l-headerPc_nav-grand-child-wrap
                          - middle_category.lower_categories.first(14).each do |lower_category|
                            %li.l-headerPc_nav-grand-child
                              = link_to "#{lower_category.name}", lower_category_path(lower_category)
          %li
            %h2
              = link_to 'ブランドから探す', brands_path, class: 'l-headerPc_nav-root'
              %ul.l-headerPc_nav-parent-wrap
                %li.l-headerPc_nav-parent
                  %h3
                    = link_to 'シャネル', brand_path(2443)
                %li.l-headerPc_nav-parent
                  %h3
                    = link_to 'ナイキ', brand_path(3806)
                %li.l-headerPc_nav-parent
                  %h3
                    = link_to 'ルイ ヴィトン', brand_path(6146)
                %li.l-headerPc_nav-parent
                  %h3
                    = link_to 'シュプリーム', brand_path(6762)
                %li.l-headerPc_nav-parent
                  %h3
                    = link_to 'アディダス', brand_path(219)
                %li.l-headerPc_nav-parent
                  %h3
                    = link_to 'ブランド一覧', brands_path
      .l-flRight
        - if user_signed_in?
          %ul.l-headerPc_user-nav
            %li
              = link_to mypages_path, class: 'l-headerSp_user-icon l-headerPc_nav-root' do
                %figure
                  %div
                    = image_tag 'common/member_photo_noimage_thumb.png', width: '32'
                マイページ
              .l-headerPc_user-box.l-headerPc_p-mypage_box
                .l-headerPc_p-mypage_state.u-taCenter
                  %figure
                    %div
                      = image_tag 'common/member_photo_noimage_thumb.png', width: '60'
                    %figcaption
                      - if current_user.nickname.present?
                        = current_user.nickname
                      - else
                        = "#{current_user.provider}_#{current_user.uid}"
                  %ul.l-headerPc_p-mypage_review-listing
                    %li
                      = link_to "評価: #{current_user.received_reviews.length}", '/mypage/review/history/'
                    %li
                      = link_to "出品数: #{current_user.sell_items.length}", '/mypage/listings/listing/'
                  %ul.l-headerPc_p-mypage_sales-point
                    %li
                      = link_to '/mypage/sales/', class: 'l-clearfix' do
                        .l-flLeft 売上金
                        .l-flRight
                          ¥ 0
                          %i.c-icon-arrow-right
                    %li
                      = link_to '/mypage/point/', class: 'l-clearfix' do
                        .l-flLeft ポイント
                        .l-flRight
                          P 500
                          %i.c-icon-arrow-right
                %ul.p-mypage_nav_list
                  %li
                    = link_to '/mypage/like/history/', class: 'p-mypage_nav_list-item' do
                      いいね！一覧
                      %i.c-icon-arrow-right
                  %li
                    = link_to '/mypage/listings/listing/', class: 'p-mypage_nav_list-item' do
                      出品した商品 - 出品中
                      %i.c-icon-arrow-right
                  %li
                    = link_to '/mypage/listings/in_progress/', class: 'p-mypage_nav_list-item' do
                      出品した商品 - 取引中
                      %i.c-icon-arrow-right
                  %li
                    = link_to '/mypage/listings/completed/', class: 'p-mypage_nav_list-item' do
                      出品した商品 - 売却済み
                      %i.c-icon-arrow-right
                  %li
                    = link_to '/mypage/purchase/', class: 'p-mypage_nav_list-item' do
                      購入した商品 - 取引中
                      %i.c-icon-arrow-right
                  %li
                    = link_to '/mypage/purchased/', class: 'p-mypage_nav_list-item' do
                      購入した商品 - 過去の取引
                      %i.c-icon-arrow-right
            %li{"data-id" => "l-headerPc_user-nav", "data-key" => "notification_list", "data-url" => "/mypage/notification_and_todo_json/"}
              = link_to '/mypage/notification/', class: 'l-headerPc_nav-root' do
                %i.c-icon-bell
                %span お知らせ
                .l-headerPc_nav-count
                  34
              %ul.l-headerPc_user-box.l-headerPc_notification-box.c-mypage_item-list{"data-id" => "l-headerPc_user-items"}
            %li{"data-id" => "l-headerPc_user-nav", "data-key" => "todo_list", "data-url" => "/mypage/notification/"}
              = link_to '/mypage/notification_and_todo_json/', class: 'l-headerPc_nav-root' do
                %i.c-icon-check
                %span やることリスト
              %ul.l-headerPc_user-box.l-headerPc_todo-box.c-mypage_item-list{"data-id" => "l-headerPc_user-items"}
        - else
          %ul.l-headerPc.l-login_nav
            %li
              = link_to 'ログイン', user_session_path, class: 'l-header_btn is-red'
            %li
              = link_to '新規会員登録', new_user_registration_path, class: 'l-header_btn l-header_btn-signup'
