%section.c-items-box
  = link_to item_path(item) , data: {turbolinks: false} do
    %figure.c-items-box_photo{style: "background-image: url(#{item.pictures.first.content})"}
      -if !item.under_sale
        %figcaption
          .c-item_sold-out-badge
            %div SOLD
    .c-items-box_body
      %h3.c-items-box_name.c-font-2
        = item.name
      .c-items-box_num.l-clearfix
        .c-items-box_price.c-font-5
          ¥
          = item.buy_price
        .c-items-box_likes.c-font-2
          %i.c-icon-like-border
          %span
            = item.like_count
        %p.c-item-box_tax (税込)
