.l-side
  %nav.p-mypage_nav.js-active
    %ul.p-mypage_nav_list
      %li
        = link_to mypages_path, class: 'p-mypage_nav_list-item' do
          マイページ
          %i.c-icon-arrow-right
      %li
        = link_to index_information_path, class: 'p-mypage_nav_list-item' do
          お知らせ
          - if @information_length > 0
            %span.p-mypage_nav_number
              = @information_length
          %i.c-icon-arrow-right
      %li
        = link_to index_todos_path, class: 'p-mypage_nav_list-item' do
          やることリスト
          - if @todos_length > 0
            %span.p-mypage_nav_number
              = @todos_length
          %i.c-icon-arrow-right
      %li
        = link_to likes_path, class: 'p-mypage_nav_list-item' do
          いいね！一覧
          %i.c-icon-arrow-right
      %li
        = link_to new_item_path, class: 'p-mypage_nav_list-item' do
          出品する
          %i.c-icon-arrow-right
      %li
        = link_to '/mypage/listings/listing', class: 'p-mypage_nav_list-item' do
          出品した商品 - 出品中
          %i.c-icon-arrow-right
      %li
        = link_to '/mypage/listings/in_progress', class: 'p-mypage_nav_list-item' do
          出品した商品 - 取引中
          %i.c-icon-arrow-right
      %li
        = link_to '/mypage/listings/completed', class: 'p-mypage_nav_list-item' do
          出品した商品 - 売却済み
          %i.c-icon-arrow-right
      %li
        = link_to index_under_transaction_items_path, class: 'p-mypage_nav_list-item' do
          購入した商品 - 取引中
          %i.c-icon-arrow-right
      %li
        = link_to index_sold_out_items_path, class: 'p-mypage_nav_list-item' do
          購入した商品 - 過去の取引
          %i.c-icon-arrow-right
      %li
        = link_to '/mypage/news', class: 'p-mypage_nav_list-item' do
          ニュース一覧
          %i.c-icon-arrow-right
      %li
        = link_to reviews_path, class: 'p-mypage_nav_list-item' do
          評価一覧
          %i.c-icon-arrow-right
      %li
        = link_to '/help_center', class: 'p-mypage_nav_list-item' do
          ガイド
          %i.c-icon-arrow-right
      %li
        = link_to '/mypage/support', class: 'p-mypage_nav_list-item' do
          お問い合わせ
          %i.c-icon-arrow-right
    %h3.p-mypage_nav_head 売上・ポイント
    %ul.p-mypage_nav_list
      %li
        = link_to '/mypage/sales', class: 'p-mypage_nav_list-item' do
          売上・振込申請
          %i.c-icon-arrow-right
      %li
        = link_to '/mypage/point', class: 'p-mypage_nav_list-item' do
          ポイント
          %i.c-icon-arrow-right
    %h3.p-mypage_nav_head 設定
    %ul.p-mypage_nav_list
      %li
        = link_to edit_mypage_path(current_user.id), class: 'p-mypage_nav_list-item' do
          プロフィール
          %i.c-icon-arrow-right
      %li
        = link_to addresses_path, class: 'p-mypage_nav_list-item' do
          住所変更
          %i.c-icon-arrow-right
      %li
        = link_to new_credit_path, class: 'p-mypage_nav_list-item' do
          支払い方法
          %i.c-icon-arrow-right
      %li
        = link_to edit_user_registration_path(current_user), class: 'p-mypage_nav_list-item' do
          メール/パスワード
          %i.c-icon-arrow-right
      %li
        = link_to addresses_path, class: 'p-mypage_nav_list-item' do
          本人情報
          %i.c-icon-arrow-right
      %li
        = link_to new_phone_number_path, class: 'p-mypage_nav_list-item' do
          電話番号の確認
          %i.c-icon-arrow-right
      %li
        = link_to logout_path, class: 'p-mypage_nav_list-item' do
          ログアウト
          %i.c-icon-arrow-right
