!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %meta{content: 'telephone=no', name: 'format-detection'}/
    %title FreemarketSample36a
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .l-default-container
    - if content_for?(:single)
      = yield(:single)
    - elsif content_for?(:mypage)
      = yield(:mypage)
    - elsif content_for?(:search)
      = yield(:search)
    - else
      = render 'layouts/header'
      = yield
      = render 'layouts/footer'
