- content_for(:mypage) do
  = render 'layouts/header'
  = render 'layouts/breadcrumbs'
  %main.l-container.l-clearfix
    = yield
    = render 'layouts/side_mypage'
  = render 'layouts/footer'
= render template: 'layouts/application'
